@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.drawer {
  @apply absolute transition-all duration-200 ease-out -translate-x-1/2 left-1/2 -bottom-1/2;
}

.drawer-visible {
  @apply bottom-0;
}

.overlay {
  @apply brightness-[20%] pointer-events-none;
}

app-input.ng-dirty.ng-invalid > div,
app-input.ng-touched.ng-invalid > div {
  @apply border-2 !border-red-600;
}

.modal {
  @apply absolute left-1/2 -translate-x-1/2 top-[150%] transition-all ease-in-out duration-300;
}
.modal-visible {
  @apply top-[20%];
}

#toast-container .ngx-toastr {
  @apply !shadow-none !drop-shadow-none !py-5;
}