<form [formGroup]="loginForm" (submit)="login($event)"
  class="py-10 relative w-full h-[90vh] flex flex-col items-center text-white gap-y-2">
  <h1 class="flex items-center gap-2 text-3xl">
    <span>Welcome to iChat</span>
    <img src="/assets/bubble.svg" class="w-7" alt="test" />
  </h1>
  <h2 class="mb-10 text-xs text-center text-light">
    Communicate with people anywhere in the world by sending and receiving
    messages in real time
  </h2>
  <div class="flex flex-col w-full gap-3">
    <!-- email -->
    <div>
      <app-input formControlName="email" label="email" />
      <span *ngIf="email?.touched && email?.errors?.['required']" class="block pt-1 pl-2 text-xs text-red-600">
        ● Email is required.
      </span>
      <span *ngIf="email?.dirty && email?.errors?.['minlength']" class="block pt-1 pl-2 text-xs text-red-600">
        ● Email must be at least 10 characters long.
      </span>
      <span *ngIf="email?.dirty && email?.errors?.['maxlength']" class="block pt-1 pl-2 text-xs text-red-600">
        ● Email must be at most 25 characters long.
      </span>
      <span *ngIf="email?.dirty && !email?.errors?.['required'] && email?.invalid"
        class="block pt-1 pl-2 text-xs text-red-600">
        ● Email is invalid.
      </span>
    </div>
    <!-- password -->
    <div>
      <app-input formControlName="password" type="password" label="password" />
      <span *ngIf="password?.touched && password?.errors?.['required']" class="block pt-1 pl-2 text-xs text-red-600">
        ● Password is required.
      </span>
      <span *ngIf="password?.dirty && password?.errors?.['minlength']" class="block pt-1 pl-2 text-xs text-red-600">
        ● Password must be at least 6 characters long.
      </span>
    </div>
    <span class="mt-1 mb-5 text-sm transition cursor-pointer text-light text-end hover:opacity-70">forgot password
      ?</span>
    <Button type="submit" class="w-full" text="login" variant="secondary" [disabled]="loginForm.invalid"></Button>
  </div>
  <div class="absolute bottom-0 w-full">
    <div class="flex items-center justify-center gap-2 mb-5 text-light">
      <span class="inline-block h-[1px] flex-1 bg-light"></span>
      <span class="inline-block px-3">or</span>
      <span class="inline-block h-[1px] flex-1 bg-light"></span>
    </div>
    <div class="flex flex-col gap-4">
      <Button (onClick)="getGoogleLoginUrl()" class="w-full" text="Sign in with Google"
        icon="/assets/google.svg"></Button>
      <Button class="w-full" text="Sign in with Github" icon="/assets/github.svg"></Button>
    </div>
  </div>
</form>